@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
body{
    font-family: 'Sigmar', cursive;
    background-color: #1D267D;
}

#seleccionar-mascota{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
}
.titulo{
    color: rgb(246, 249, 250);
    font-size: 32px;
    background-color: salmon;
}
.subtitulo{
color: white;
font-size: 20px;
}
.tarjetas,.tarjetas-ataque{
    display: flex;
    gap: 10px;
}
.tarjeta-de-mokepon{
    width: 180px;
    height: 100px;
    background: burlywood;
    padding: 8px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 20%;
    box-sizing: border-box;
    display:flex
}

.tarjeta-de-mokepon img{
    width:80px
}
#boton-mascota{
    width: 180px;
    height: 40px;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    background: transparent;
    font-family:"popppins"sans-serif;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 5px;
    margin-bottom: 40px;
}
input{
 display: none;
}
input:checked+label{
    background-color: bisque;
}
#seleccionar-ataque{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boton-de-ataque{
    background-color: #1D267D;
    padding: 8px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 20%;
    color:whitesmoke;
    font-family: 'Sigmar', cursive;

}


#mensajes{
    background: lightpink;
    margin-top: 20px;
    padding: 20px;
    width: 280px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;

}


#boton-reiniciar{
color: #070706;
border:transparent;
font-family:"popppins"sans-serif;
}

.ataques{
display: grid;
grid-template-columns: 100px 100px;
align-self: center;
justify-content: center; 
}
.vidas-jugador, .vidas-enemigo{
    font-size: 32px;
    margin-bottom: 0;
}
.ataques-jugador, .ataques-enemigo{
    display: flex;
    flex-direction: column;
    align-items: center;
}



@media (max-width:360px){
    .ataques,.tarjetas-ataque{
        flex-direction: column;
    }
}
